:root {
    --background-main: #7da9bf;
    --background-secondary: #4a6a58;
    
    --background-button: #156082;
    
    --text-white: #ffffff;
    --text-black: #0f0e0e;
    --accent: #1e3d2f;
}
