@import url(colors.css);

.big-button{
  width: 400px;
  height: 400px;
  background-color: var(--background-button);
  border: 2px solid var(--text-black);
  border-radius: 75px;
  color: white;
  text-align: center;
  font-size: 35px;
}

.big-button.no-access{
  cursor: not-allowed;
  opacity: 0.7;
}